<div th:fragment="frag_content" class="content-wrapper">
    <section class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
					<h5 class="my-3 border-bottom pb-1" >Review 관리</h5>
					<form method="post">
						<div class="my-3">
							<label for="content" class="form-label">본문</label>
							<textarea name="content" id="content" class="form-control" rows="7"></textarea>
						</div>
						<div class="my-3">
							<input type="submit" value="저장하기" class="btn btn-warning">
						</div>
					</form>
                </div>
			</div>
		</div>
	</section>
</div>










