<!-- /*
    - 개별 페이지
    - 공통 레이아웃 적용 받음
        - 레이아웃 조정 -> 사용한 개별 페이지가 모두 변경, 반영됨 -> 유지보수/관리가 유리!!
    - 경로법은 무조건 templates부터 상대경로
*/ -->
<html layout:decorate="~{ui/layout}">

<!-- 레이아웃의 본문에 들어갈 내용 기술 -->
<div layout:fragment="content">
    <fieldset>
        <p>개별 페이지 상세 내용</p>
    </fieldset>

    <!-- 원본 조각이 그대로 대체 처리됨 -->
    <h2 th:replace="ui/mod.html :: frag_A"></h2>
    <h2 th:replace="ui/mod.html :: frag_B"></h2>
    <fieldset>
        <h2 th:insert="ui/mod.html :: frag_A"></h2>
        <br/>
        <h2 th:insert="ui/mod.html :: frag_B"></h2>
    </fieldset>

    <!-- insert와 유사하나, 조각의 부모 요소는 삭제된다. -->
    <fieldset>
        <h2 th:include="ui/mod.html :: frag_A"></h2>
        <br/>
        <h2 th:include="ui/mod.html :: frag_B"></h2>
    </fieldset>
</div>