<!DOCTYPE html>
<!-- 상속을 통해 레이아웃 적용 -->
<html layout:decorate="~{lib/layout}">

<div layout:fragment="content" class="wrapper">

    <!-- Preloader -->
	<!--
	<div th:replace="~{lib/preloader.html :: sagment_preloader}"></div>
	-->
	
    <!-- Navbar -->
	<div th:replace="~{lib/navi.html :: sagment_navi}"></div>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
	<div th:replace="~{lib/left.html :: sagment_left}"></div>
	
    <!-- Content Wrapper. Contains page content -->
	<div th:replace="~{pages/index_content.html :: frag_index_content}"></div>
    
	<!-- /.content-wrapper -->
	<div th:replace="~{lib/right.html :: sagment_aside}"></div>

    <!-- Control Sidebar -->
	<div th:replace="~{lib/footer.html :: sagment_footer}"></div>
    <!-- /.control-sidebar -->
	
 </div> 
 </html>